@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  --blue: #0B02FF;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #020101;

  --primary: var(--blue);
  --secondary: var(--gray);

  color-scheme: light dark;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--secondary);
  color: var(--primary);
  transition: background-color 0.5s ease, color 0.5s ease;
}